{% extends "layout.html" %}
{% block body %}
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".sendBtn").on("click", function (e) {
          e.preventDefault();
          var inputs = $("#emailForm :input");
          var data = {};
          // Ignore last input field for submit button
          for (var i = 0; i < inputs.length - 1; i++) {
            var input = inputs[i];
            console.log(input);
            data[input.name] = $(input).val();
          };
          console.log(data);

          $.ajax({
              url: "{{ url_for('email') }}",
              type: "POST",
              contentType: 'application/json',
              data: JSON.stringify(data),
              dataType: 'json',
              success: function (data, status, jqXHR) {
                console.log(data);
                console.log(status);
                window.location.href = "{{ url_for('email') }}?success=" + data.success + "&result=" + data.result;
              },
              error: function (jqXHR, status, errorThrown) {
                console.log(status);
                console.log(errorThrown);
                window.location.href = "{{ url_for('email') }}?success=false&result=" + errorThrown;
              }
          });

      });
    });
  </script>

  <h2>Send an Email</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('email') }}" method=post id="emailForm">
    <dl>
      <dt>To:
      <dd><input type=text name="to">
      <dt>To (Name):
      <dd><input type=text name="to_name">
      <dt>From:
      <dd><input type=text name="from">
      <dt>From (Name):
      <dd><input type=text name="from_name">
      <dt>Subject:
      <dd><input type=text name="subject">
      <dt>Body:
      <textarea name="body" form="emailForm"></textarea>
      <dd><input type=submit name=submit value=Send class=sendBtn>
    </dl>
  </form>
  <form>

  </form>
{% endblock %}